.accessories {
    margin-bottom: 20px;
}

.accessories h2 {
    text-align: center;
    color: rgb(3, 205, 1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    text-align: center;
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    position: relative;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-item p {
    margin: 10px 0;
    font-size: 1.2em;
}

.grid-item .price {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(3, 205, 1);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item:hover .price {
    display: block;
}
