.games h2{
    text-align: center;
}
.game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.game-item {
    text-align: center;
    flex: 1 1 200px;
}

.game-item img {
    width: 100%;
    height: auto;
}